	
*{
padding: 0;
margin: 0;

}
html,body{
	width: 100vw;
}
a:link,
a:visited,

a{
  color: #fff;
  text-decoration: none;
}
@font-face{
    font-family: 'Barlow-Regular';  src: url('./Barlow-Regular.woff2');
  
}
body{
	 font-family:'Barlow-Regular';
	overflow-x: hidden;
}
.top{
	width: 100vw;
	height: 100vh;
	background: url('../img/banner.jpg') no-repeat;
	background-size: 100% 100%;
}
.content{
	padding: 0 16px;
	box-sizing: border-box;
	width: 100%;
}
	
.tabbar{
	width: 1200px;
	margin: 0 auto;
	padding: 6px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	background: 0;
	font-size: 16px;
	transition: all 0.6s ease-in-out;
}
.flagtop{
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
}
.movetab{
	
	/* width: 100%; */
/* 	position: fixed;
	top: 0; */
	background: rgba(0,0,0,.7);
	color: #333333;
	transition: all 0.8s ease-in-out;
}
.toplogo{
	width: 100px;
	height: 40px;
}
.tab_right{
	display: flex;
}
	
.tab_right div{
	cursor: pointer;
	margin-left: 5px;
	transition: all 0.3s ease-in-out;
}
.tab_right div:hover{
	color: #e6e6e6;
	transition: all 0.3s ease-in-out;
}
.main_text{
	text-align: center;
	color: #fff;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	margin:  auto;
	
	top: calc(50vh - 100px) ;
	/* margin-top: calc(50% - 116px); */
	/* margin-top: 37vh; */
}
.oin{
	font-size: 2.125rem;
}
.explain{
	margin-top:1vh;
	font-size: 1.6875rem;
}


/* 第二块区域 */
.center{
	width: 100vw;
	margin-top: 30px;
	background: url('../img/gezi.jpg') no-repeat;
}
.c_title{
	text-align: center;
	padding-top: 1vh;
	color: #333;
	font-size: 1.125rem;
}
.c_explain{
	text-align: center;
	font-size: 0.8rem;
	color: #999;
	margin-top: 1vh;
}
.list_warp{
	padding: 0 1.5rem;
	padding-bottom: 3vh;
	
	margin-top: 1vh;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.list_view{
	margin-top: 1vh;
	align-items:center;
}
.list_r{
	justify-content:flex-end;
}
.list_left{
}
.pic_1{
margin: 12px auto;
	width: 4vh;
	height:4vh;
}
.list_left{
	margin-right:1.9vw;
}
.list_title{
	font-weight: bold;
	color: rgb(66, 149, 200);
}
.list_subtitle{
	font-size: 1.0625rem;
	margin-top: 1.25rem;
	color: #666;
	font-weight: bold;
}
	
.bigsize{
	font-weight: bold;
}
/* 第三部分 */
.page_three{
	/* height: 100vh; */
	padding-bottom: 2vh;
	background: rgb(69,69,69);
}
.six_page{

	background: rgb(69,69,69);
}
.three_main{
	text-align: center;
	margin-top: 1vh;
	/* display: flex; */
	
}
.three_main img{
	width: 88vw;
}
.three_right{
	padding-top: 10px;
	color: #fff;
	

}

.top_line{
	margin-top: 20px;
	text-align: left;
}

.borderDark{
	top: 10px;
	position: relative;
}
.borderDark::after{
	content: '';
	position: absolute;
	width: 20px;
	height: 2px;
	top: -8px;
	left: 0;
	background: #333;
}
.t_title{
	padding-top: 3vh;
	color: #fff;
	font-size: 1.425rem;
	font-weight: bold;
	text-align: center;
}
.t_subtitle{
	color: #e7e7e7;
	margin-top: 1vh;
	text-align: center;
	font-size: 1.1rem;
}
.page_four{
	background: rgb(51,92,103) ;
	padding-bottom: 1vh;
}
.f_left_img{
	width: 88vw;
}
.f_right_img{
	width: 88vw;
}
.four_main{
	margin-top: 2vh;
	justify-content: center;
	/* display: flex; */
	padding-bottom:1vh;
}
.four_left{
	margin-right:1vh ;
}

.f_explain_box{
	text-align: center;
	text-align: left;
	width: 100%;
	/* padding-left: 100px; */
	
	text-align: center;
	color: #fff;
}
.f_text{
	text-align: left;
	font-size: 17px;
	margin-top: 10px;
}


.five_page{
	background: url('../img/fivebg.jpg') ;
	background-size: 30% 30%;
	padding: 1vh 0 ;

   
}

.five_page_content{
	
	/* display: flex; */
	/* justify-content: center; */
}
.five_left{
	border-radius: 4px;
margin-top: 16px;
}
.five_right{

}
.five_left{
	/* background: url('img/fivebg.png') no-repeat; */
	background: url(../img/fivebg.png);
	background-size: 100% 100%;
	height: 200px;
	position: relative;
}
.five_left_content{
	width: 30vw;
	position: absolute;
	left: 0;
	right: 0;
	height: 100px;
	bottom: 0;
	top: 0;
	margin: auto;
}
.five_title{
	position: relative;
	display: block;
	color: #333333;
	font-size: 16px;
	font-weight: bold;
}
.five_title::after{
	content: '';
	position: absolute;
	width: 70px;
	height: 2px;
	bottom: -8px;
	left: 0;
	background: rgb(51,92,103);
}
.five_right{
	flex-wrap: wrap;
	/* display: flex; */
	
}
.five_list{
	padding: 14px 0;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	margin-top: 20px;

	
}
.five_icon{
	width: 36px !important;
	height: 36px !important;
	margin: 20px auto 8px;
}
	
.five_explain{
	font-size: 14px;
	color: #666;
	padding: 0 16px;
	text-align: left;
}
.fivebg1{
	color: #E7E7E7;
	background: rgb(121,186,199);
}
.fivebg2{
	color: #E7E7E7;
	background: rgb(122,123,124);
}
.fivebg1 .five_explain,.fivebg2 .five_explain{
	color: #e7e7e7;
}
.five_subtitle{
	color: #666;
	margin-top: 10px;
	display: block;
	font-size: 17px;
}
/* 第六页 */
.six_main{
	/* display: flex; */
	padding: 1vh 0 1vh;
}
.six_view{
	margin-top: 26px;
	text-align: center;
	padding: 20px 10px;
	}
	.six_view img{
		width: 60px;
		height: 60px;
	}
	.six_title{
		color:#333 ;
		font-size: 26px;
		margin-top: 10px;
	}
	.six_subtitle{
		margin-top: 10px;
		color:#666666 ;
		font-size: 18px;
	}
	.six1{
		background:rgb(253,205,66) ;
	}
		
	.six2{
		background:#fff ;
	}
	.six3{
		color: #fff ;
		background: rgb(51,92,103);
	}
	.six4{
		background: rgb(208, 208, 208);
		color: #fff;
	}
	.six3 .six_title,.six3 .six_subtitle{
		color: #fff;
	}
	.six4 .six_title,.six4 .six_subtitle{
		color: #fff;
	}
/* 第七页 */
.seven_title{
	text-align: center;
	padding-top: 80px;
	color: #333;
	font-weight: bold;
	font-size: 28px;
	

}
.seven_pic{
	width: 850px;
	height: 504px;
	
}
.seven_pic_box{
	margin: 20px 0 70px;
	display: flex;
	justify-content: center;
}
.eight_page{
	
	padding: 5.5vh 0;
background: linear-gradient(to right,rgb(68,156,173),rgb(44,94,102));
color: #fff;
}
.eight_title{
	font-size: 24px;
	color: #fff;
	text-align: center;
}
.eight_subtitle{
	font-size: 18px;
	color: #E7E7E7;
	text-align: center;
	margin-top: 20px;
}
.eight_footer{
	padding: 10px 16px;
	display: flex;
	
	background: #fff;
	width: 600px;
	margin: 0 auto;
	margin-top: 25px;
	border-radius: 2px;
}
.email{
	margin-right: 20px;
	width: 24px;
	height: 16px;
}
.forward{
	width: 22px;
	height: 18px;
	margin-left: auto;
}
.eight_footer input{
	flex: 1;
	font-size: 16px;
	outline: none;
	border: none;

}
/* 第九页 */
	
.nine_main{
	display: flex;
	padding-top: 60px;
}

.footer_logo{
	margin-bottom: 8px;
	width: 160px;
	margin-right: 60px;
	height: 28px;
}
.footer_right{
	font-size: 16px;
	color: #666;
	margin-right: 60px;
}
.componentsinfo{
	text-align: center;
	color: #666;
	padding-bottom: 20px;
	margin-top: 60px;
}
.ninebig{
	color: #333;
	padding-bottom: 14px;
	font-weight: bold;
}
.nine_text{
	margin-bottom: 10px;
}